.xchange-form {
    &.ui.form {
        max-width: 800px;
        margin: 2em auto;
    }
    &__input {
        &.no-focus {
            margin-top: 22px !important;
            @include media-query(palm) {
                margin-top: .5em;
            }
            & input {
                @include attention() {
                    border-color: rgba(34, 36, 38, 0.15) !important;
                }
            }
        }
        .ui.form & > label {
            color: $color-base-light;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.8rem;
        }
    }
    &__icon.large.icon {
        margin: 0 0.5em !important;
        line-height: 4em;
        @include media-query(palm) {
            display: none;
        }
    }
    &__submit {
        max-width: 80%;
        min-width: 40%;
        margin: 0 auto !important;
        @include media-query(palm) {
            min-width: 80%;
        }
    }
}
