$color-base: rgba(0, 0, 0, 0.87);
$color-base-light: rgba(0, 0, 0, 0.68);
$color-shade: rgba(0, 0, 0, 0.2);
$color-dim: rgba(0, 0, 0, 0.1);
$color-text-inverse: rgba(255, 255, 255, 0.9);
$color-text-incrust: rgba(255, 255, 255, 0.6);

$color-blue: #1678c2;
